<div class="task_form">
  <h1><%= "#{form_title}" %></h1>
  <%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id='error_explanation'>
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <div class='task_title'>
      <p>
        <%= form.label :name %>
      </p>
      <p>
        <%= form.text_field :name %>
      </p>
    </div>

    <div class='task_detail'>
      <p>
        <%= form.label :detail %>
      </p>
      <p>
        <%= form.text_area :detail %>
      </p>
    </div>

    <div class='task_deadline'>
      <p>
        <%= form.label :deadline %>
      </p>
      <p>
        <%= form.datetime_select :deadline %>
      </p>
    </div>

    <div class='task_status'>
      <p>
        <%= form.label :status %>
      </p>
      <p>
        <%= form.select :status ,Task.status.options  %>
      </p>
    </div>

    <div class="task_priority">
      <p>
        <%= form.label :priority %>
      </p>
      <p>
        <%= form.select :priority, Task.priority.options %>
      </p>
    </div>

    <p class="task_create">
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <%= form.submit "#{form_name}", id: 'task_save' %>
    </p>
  <% end %>

</div>
