<h1>タスク一覧画面</h1>

<p>検索</p>
<%= form_with(model: Task.new, url: tasks_path, method: :get, local: true) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :status %>
  <%= f.select :status, Task.status.options, include_blank: true, selected: '' %>
  <%= f.submit '検索', id: 'search_button' %>
  <% end %>

<%= link_to '終了期限でソートする', tasks_path(sort_expired: "true") %>
<div class="tasks">
  <% @tasks.each do |task| %>
  <p class="task">
    <%= task.name %>
    <%= task.detail %>
    <%= l task.deadline %>
    <%= task.status %>
    <%= task.priority %>
    <%= link_to '詳細', task, class: 'btn btn-default' %>
    <%= link_to '編集', edit_task_path(task), class: 'btn btn-info' %> |
    <%= link_to '削除', task, method: :delete, data: { confirm: 'Are you sure?' },  class: 'btn btn-danger' %>
  </p>
  <% end %>
</div>

<%= link_to 'タスクを作成する', new_task_path %>
