
<div class="task_index col-md-7">
  <h2>タスク一覧</h2>

  <div class="sort_links">
    <p>
      <%= link_to '終了期限でソートする', tasks_path(sort_expired: "true") %>
    </p>
    <p class="bottom_link">
      <%= link_to '優先度でソートする', tasks_path(sort_priority: "true") %>
    </p>
    <p class="reset">
      <%= link_to 'リセット', tasks_path %>
    </p>
  </div>

  <div class="tasks">
    <% @tasks.each do |task| %>
    <div class="task">
      <%= link_to "#{task.name} &ensp;(#{task.status})".html_safe, task, class: "task_link" %>
      <p>
        優先度 &nbsp; <%= task.priority %>
      </p>
      <%= l task.deadline %>
    </div>
    <% end %>
  </div>

  <%= link_to 'タスクを作成する', new_task_path %>

  <%= paginate @tasks %>
</div>

<div class="col-md-5">
  <div class="searchs">
    <h3>検索</h3>

    <%= form_with(model: Task.new, url: tasks_path, method: :get, local: true) do |f| %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :status %>
      <%= f.select :status, Task.status.options, include_blank: true, selected: '' %>
    </p>
    <p>
      <%= f.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
    </p>
      <%= f.submit '検索', id: 'search_button' %>
    <% end %>
  </div>
</div>
