<div class="admin_form">
  <h1><%= "#{admin_title}" %></h1>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(model: @user,url: url,  local: true) do |f| %>
    <div class="user_name">
      <p>
        <%= f.label :name %>
      </p>
      <p>
        <%= f.text_field :name %>
      </p>
    </div>

    <div class="user_email">
      <p>
        <%= f.label :email %>
      </p>
      <p>
        <%= f.email_field :email %>
      </p>
    </div>

    <div class="user_password">
      <p>
        <%= f.label :password %>
      </p>
      <p>
        <%= f.password_field :password %>
      </p>
    </div>

    <div class="user_password_confirmation">
      <p>
        <%= f.label :password_confirmation %>
      </p>
      <p>
        <%= f.password_field :password_confirmation %>
      </p>
    </div>

    <div class="admin">
      <p>
        <%= f.label :admin %>
      </p>
      <p>
        <%= f.check_box :admin, {} , true, false %>
      </p>
    </div>

    <%= f.submit "#{submit}", class: 'user_save' %>

  <% end %>

</div>
