<!DOCTYPE html>
<html>
  <head>
    <title>Manyou</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <header>
        <h1 id='title'>My ToDoList</h1>
        <% if logged_in? %>
          <%= link_to "ログアウト", session_path(current_user.id), method: :delete,  class: 'session_right' %>
          <%= link_to "マイページ", user_path(current_user.id) %>
        <% else %>
          <%= link_to "サインアップ", new_user_path, class: 'session_right' %>
          <%= link_to "ログイン", new_session_path %>
        <% end %>
      </header>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
    <div class="row">
      <%= yield %>
    </div>
    <footer>
      <h3>株式会社万葉様新入社員教育課題</h3>
    </footer>
  </div>
  </body>
</html>
